server:
  port: 8083

spring:
  main:
    allow-bean-definition-overriding: true

info:
  app:
    encoding: @project.build.sourceEncoding@
    java:
      source: @java.version@
      target: @java.version@